# Node
node_modules/
dist/
*.local

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# 数据库与数据文件
*.db
*.sqlite3

# 环境变量
.env

# IDE
.idea/
.vscode/
*.swp

# 系统
.DS_Store
Thumbs.db

# 日志
*.log
